<!DOCTYPE html>
<html lang="en">
{% load static %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'leesm/css/nanmain.css' %}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">


    
    <title>Document</title>
</head>
<body class="bodycon">
    <div class="uibar">
        <div class="logo">
        </div>
        <div class="mypagebox">
            <img src="{% static 'leesm/img/Ellipse%203.png' %}" alt="sdf" class="im">
            <div class="mypage"><a style="text-decoration: none; color: black" href="{% url 'user:mypage' %}">마이페이지</a></div>
        </div>
    </div>
    <div class="maincon">
        <div class="help">도움이 필요하십니까?</div>
        <a href="{% url 'user:post_make' %}" class="helpcall">도우미 요청</a>
        <a href="" class="helper">도우미가 되어 난민 도와주기s></a>
    </div>
</body>
{% endblock %}
</html>