<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/reviewpage.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body class="bodycon">
    <div class="uibar">
        <div class="logo">
        </div>
        <div class="tuto">튜토리얼</div>
        <div class="mypagebox">
            <img src="img/Ellipse 3.png" alt="sdf" class="im">
            <div class="mypage">마이페이지</div>
        </div>
    </div>
    <form action="">
        <div class="btnbox">
            <div class="help">도움을 만족하십니까?</div>
            <div class="btnwr">
                <a>예</a>
                <a>아니요</a>
            </div>
        </div>
    </form>
</body>
</html>