<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signIn Page</title>
    <link rel="stylesheet" href="css/signIn.css">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <!-- static -->
    <style>
        .loginbox{
            box-shadow : rgba(0,0,0,0.5) 0 0 0 9999px;
        }
    </style>
    <!-- static -->
</head>
<body>
    <div class="login-container">
        <h1><img class="logo" src="logo.png" alt="Logo"></h1>
        <div class="divider"></div>
        <form>
            <div class="loginbox" id="1">
                <div class="box">
                    <label for="username">이메일을 입력하세요</label>
                    <input type="text" id="username" name="username" required>
                </div>
                <div class="box">
                    <label for="password">비밀번호를 입력하세요</label>
                    <input type="password" id="password" name="password" required>
                </div>
            </div>
            
            
            <div class="login-options">
                <div class="remember-login">
                    <input type="checkbox" id="remember" name="remember">
                    <label for="remember">자동로그인</label>
                </div>
                <a class="forgot-password" href="#연결링크">아이디 / 비밀번호 찾기</a>
            </div>
            <div class="con">
                <input type="submit" value="로그인">
            </div>
            
            
        </form>
        
        <a class="loginHelp" href="튜토리얼 페이지 링크">처음이라면 도와드릴까요 ?</a>
        
        <label class="SLogin_L">SNS 계정으로 로그인하기</label>
        

        <div class="SLogin_a">
                <a class="naver" href="네이버 로그인 연결링크"></a>
                    <!-- <img src="네이버-image.png" alt="네이버 Image" width="20" height="20"> -->
                <a class="kakao" href="카카오 로그인 연결링크"></a>
                    <!-- <img src="카카오-image.png" alt="카카오 Image" width="20" height="20"> -->
        </div>
        <div id="2" class="sin">
            <a class="signUp_Btn" href="#연결링크">회원가입 > </a>
        </div>
        <!-- static -->
        <div class="tuto1" id="tuto1">
            <img src="img/Arrow 3.png" alt="" class="tutoimg1">
            <div class="tutobox1">
            
                <div class="line">
                    <div class="tutologo">
                        로고
                    </div>
                </div>
                <div class="tutocontent">
                    아이디와 비밀번호가 있다면 이곳에 입력하세요
                </div>
                <div onclick="next('tuto1','tuto2','1','2','username')" class="bttn">다음>></div>
            </div>
        </div>
        <div class="tuto2" id="tuto2">
            <img src="img/Arrow 3.png" alt="" class="tutoimg2">
            <div class="tutobox2">
            
                <div class="line">
                    <div class="tutologo">
                        로고
                    </div>
                </div>
                <div class="tutocontent">
                    사이트 이용이 처음이시라면 회원가입을 하세요
                </div>
                <div onclick="previous('tuto2','tuto1','1','2')" class="bttn"><< 이전</div>
            </div>
        </div>
        <!-- static -->
    </div>
    <script type="text/javascript" src="js/loginout.js"></script>
</body>
</html>