*{
    box-sizing: border-box;
}
.bodycon{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.con{
    display: flex;
    justify-content: center;
    align-items: center;
}

.uibar{
    width: 1400px;
    height: 160px;
    border-bottom: 1px black solid;
    display: flex;
}

.logo{
    width: 185px;
    height: 70px;
    flex-shrink: 0;
    margin-bottom: 23px;
    margin-top: 67px;
    margin-left: 20px;
    background-color: #000;

}

.tuto{
    color: #000;
    font-family: Arial;
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;

    margin-top: 114px;
    margin-left: 45px;
    margin-bottom: 23px;
}

.mypagebox{
    display: flex;
    align-items: center;
    margin-top: 98px;
    margin-bottom: 7px;
    margin-left: 810px;
}
.mypagebox image { 
    width: 55px;
    height: 55px;
}
.mypage{
    color: #000;
    font-family: Arial;
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
    margin-left: 8px;
}

.btnbox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 600px;
    height: 500px;
}

.help{
    color: #000;
font-family: Arial;
font-size: 40px;
font-style: italic;
font-weight: 400;
line-height: normal;
}

.btnwr{
    display: flex;
}

.btnwr button{
    display: flex;
    width: 302px;
    height: 83px;
    padding: 18px 68px 17px 68px;
    justify-content: center;
    align-items: center;
    margin: 14px;
    border-radius: 20px;
    border: 1px solid #5D5D5D;
    background-color: white;
    color: #000;
    font-family: Arial;
    font-size: 24px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
}