*{
    margin: 0px;
}
.con{
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    height: 1000px;
    width: 500px;
    border: 2px black solid;

}
.con1{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.box1{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}
.box1 input{
    height: 50px;
    width: 300px;
    border: 2px black solid;
    border-radius: 10px;
}

.box2{
    margin-top: 30px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;

}

.box2 textarea{
    resize: none;
    height: 400px;
    width: 300px;
    border: 2px black solid;
    border-radius: 10px;
}
.con button{
    height: 50px;
    width: 100px;
    background-color: bisque;
    border-radius: 10px;
}