* {
  box-sizing: border-box;
}
.bodycon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.con {
  display: flex;
  justify-content: center;
  align-items: center;
}

.uibar {
  width: 1400px;
  height: 160px;
  border-bottom: 1px solid #1a4266;
  display: flex;
}

.logo {
  width: 185px;
  height: 70px;
  flex-shrink: 0;
  margin-bottom: 23px;
  margin-top: 67px;
  margin-left: 20px;
  background-color: #1a4266;
}

.mypagebox {
  display: flex;
  align-items: center;
  margin-top: 98px;
  margin-bottom: 7px;
  margin-left: 810px;
}

.mypage {
  color: #1a4266;
  font-family: Arial;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  margin-left: 8px;
}

.mypagebox image {
  width: 55px;
  height: 55px;
}

#sections {
  display: flex;
}
section {
  display: flex;
}
section > ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin-top: 30px;
}
section > ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 558px;
  height: 161px;
  flex-shrink: 0;
  border-bottom: 1px solid #1a4266;
}
section a {
  height: 100%;
  display: flex;
  flex-direction: column;
  border: none;
  background-color: white;
  color: #1a4266;
  font-family: Arial;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  justify-content: space-evenly;
  text-align: center;
}
.right {
  display: flex;
  flex-direction: column;
  width: 876px;
  height: 1317px;
  margin-left: 9px;
  margin-top: 8px;
  border-left: 1px solid #1a4266;
  justify-content: center;
  align-items: center;
}
.rightBox {
  display: none;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 15px;
  //반응형의 경우 padding이 없으면 박스가 화면에 붙어서 안이뻐짐
  margin-top: 150px;
  margin-left: 64px;
  border-radius: 10px; //둥글둥글한 디자인을 위해 각을 없앱니다.
  overflow: hidden; //각을 없앴을 때 내부 영역이 튀어나오는걸 방지
  background-color: #264db5; //배경색
  //팝업이 허공에 떠있는 듯한 느낌을 주기 위한 그림자 효과.
  box-shadow: 5px 10px 10px 1px rgba(0, 0, 0, 0.3);
}

.contentbox {
  word-break: break-word; //단어가 짤리지 않음
  overflow-y: auto; //내부요소가 지정한 세로 값보다 클 경우 스크롤 생성
  max-height: 200px;
  padding: 30px;
  width: 691px;
  height: 185px;
  color: #1a4266;
  font-family: Arial;
  font-size: 32px;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 24px;
}
.mapAndContent {
  display: flex;
  flex-direction: column;
  width: 691px;
  height: 658px;
}
#map {
  width: 691px;
  height: 365px;
  flex-shrink: 0;
  border-radius: 30px 30px 0px 0px;
  border-top: 0.5px solid #1a4266;
  border-right: 0.5px solid #1a4266;
  border-left: 0.5px solid #1a4266;
}
.mapContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 0px 0px 20px 20px;
  border: 0.5px solid #1a4266;
  background: #dbebfa;
  width: 691px;
  height: 119px;
  flex-shrink: 0;
}
.nanTime,
.nanLocation {
  width: 645px;
  color: #1a4266;
  font-family: Arial;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  margin-left: 22px;
}
.nanTime {
  margin-bottom: 8px;
}
.nanLocation {
}
.helpBtn-Box {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: end;
}
.leftBtn {
  color: #1a4266;
  font-size: 24px;
  font-weight: 400;
  line-height: normal;
  border-radius: 20px;
  border: 1px solid #1a4266;
  display: inline-flex;
  width: 302px;
  height: 83px;
  padding: 18px 68px 17px 68px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-right: 15px;
}
.rightBtn {
  color: #1a4266;
  font-size: 24px;
  font-weight: 400;
  line-height: normal;
  border-radius: 20px;
  border: 1px solid #1a4266;
  display: inline-flex;
  width: 302px;
  height: 83px;
  padding: 18px 68px 17px 68px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
