.line{
    width: 370px;
    height: 60px;
    border-bottom: 1px #1A4266 solid ;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tutologo{
    width: 100px;
    height: 40px;

}
.tutocontent{
    margin-top: 22px;
    color: #000;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
}

.tuto1 {
    z-index: 3;
    position: fixed;
    margin-left: 1120px;
    margin-top: 20px;
    width: 200px;
    height: 80px;
    box-shadow : rgba(0,0,0,0.5) 0 0 0 9999px;
}
.tuto1img{
    margin-left: 50%;
    margin-top: 70px;
}

.tutobox1{
    width: 400px;
    height: 150px;
    background: #C8E4FF;
    margin-left: -50%;
    margin-top: -10px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
}

.tutobox1 button{
    color: #FFF;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    width: 71px;
    height: 27px;
    border-radius: 10px;
    background: rgba(16, 90, 159, 0.80);
    margin-top: 10px;
    margin-left: 310px;
}

.tuto2 {
    
    z-index: 1;
    position: fixed;
    width:  440px;
    height: 170px;
    margin-top: 275px;
    box-shadow : rgba(0,0,0,0.5) 0 0 0 9999px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.tuto2img{
    /* margin-top: 73px; */
    margin-left: 500px;
    z-index: 2;
}
.tutobox2{
    position: fixed;
    width: 400px;
    height: 150px;
    z-index: 4;
    background: #C8E4FF;
    margin-left: 1000px;
    margin-top: -100px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
}

.tutobox2 button{
    color: #FFF;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    width: 71px;
    height: 27px;
    border-radius: 10px;
    background: rgba(16, 90, 159, 0.80);
    margin-top: 10px;
    margin-left: -310px;

}

*{
    box-sizing: border-box;
    
}


.con{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.uibar{
    width: 1400px;
    height: 100px;
    border-bottom: 3px #1A4266 solid;
    display: flex;
}

.logo{
    width: 185px;
    height: 70px;
    flex-shrink: 0;
    margin-bottom: 10px;
    margin-top: 15px;
    margin-left: 20px;
    /* z-index: 0; */
}

.tuto{
    color: #000;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: normal;
    margin-top: 49px;
    margin-left: 720px;
    margin-bottom: 17px;
}

.im { 
    width: 55px;
    height: 55px;
    /* filter: brightness(50%);s */
}

.mypagebox{
    display: flex;
    align-items: center;
    margin-top: 38px;
    margin-bottom: 7px;
    margin-left: 930px;
}

.mypage{
    color: #1A4266;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
    margin-left: 8px;
}

.mypage:hover{
    font-weight: 700;
}

.logoutbox button{
    margin-left: 23px;
    margin-bottom: 23px;
    margin-top: 50px;
    color: #1A4266;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
}
.logoutbox button:hover{
    font-weight: 700;
}
.logoutbox{
    margin-bottom: 23px;
    margin-top: 50px;
    color: #1A4266;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
}
.maincon{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 130px;
    /* z-index: 1000; */
    width: 632px;
    height: 394px;
    border-radius: 30px;
    background: rgba(207, 226, 243, 0.62);
    border: 2px solid #000;
}
.help{
    color: #000;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 64px;
    font-weight: 400;
    line-height: normal;
}

.helpcall{
    text-align: center;
    margin-top: 10px;
    padding-top: 30px;
    text-decoration: none;
    width: 400px;
    height: 150px;
    border-radius: 90px;
    background: #0B50A1;
    color: #FFF;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 55px;
    font-weight: 400;
    line-height: normal;
    z-index: 1;
}

.helpcall:hover{
    text-align: center;
    margin-top: 10px;
    padding-top: 30px;
    text-decoration: none;
    width: 400px;
    height: 150px;
    border-radius: 90px;
    background: #1A4266;
    color: #FFF;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 55px;
    font-weight: 400;
    line-height: normal;
    z-index: 1;
} 
.helper{
    margin-top: 32px;    
    text-decoration: none;
    color: #000;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
}

.helper:hover{
    font-weight: 700;
}

.main{
    z-index: -10;
    position: fixed;
    margin-top: 1000px;
    margin-bottom: 0px;
    width: 100%;
    height: 100%;
    left: 0; 
    /* top: 0; */
    
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: contain;
    background-size: 100%;
    background-repeat: no-repeat;
    border: none;
}
.bodycon{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-image: url('static\leesm\img\KakaoTalk_20230809_145228559.png');
    left: 10%; 
    top: 100;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%; */
}