*{
    box-sizing: border-box;
}
.bodycon{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.con{
    display: flex;
    justify-content: center;
    align-items: center;
}

.uibar{
    width: 1400px;
    height: 160px;
    border-bottom: 1px #1A4266 solid;
    display: flex;
}

.logo{
    width: 185px;
    height: 70px;
    flex-shrink: 0;
    margin-bottom: 23px;
    margin-top: 67px;
    margin-left: 20px;
    /* background-color: #1A4266; */

}

.tuto{
    color: #1A4266;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: normal;

    margin-top: 114px;
    margin-left: 45px;
    margin-bottom: 23px;
}

.mypagebox{
    display: flex;
    align-items: center;
    margin-top: 98px;
    margin-bottom: 7px;
    margin-left: 810px;
}
.mypagebox:hover{
    font-weight: 700;
}
.mypagebox image { 
    width: 55px;
    height: 55px;
}
.mypage{
    color: #1A4266;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
    margin-left: 8px;
}

.btnbox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 600px;
    height: 500px;
}

.help{
    color: #1A4266;
    font-family: 'Noto Sans KR', sans-serif;
font-size: 40px;
font-weight: 400;
line-height: normal;
margin-bottom: 38px;
}

.btnwr{
    display: flex;
}

.btnwr a{
    display: flex;
    width: 302px;
    height: 83px;
    padding: 18px 68px 17px 68px;
    justify-content: center;
    align-items: center;
    margin: 14px;
    border-radius: 20px;
    border: 1px solid #5D5D5D;
    background-color: white;
    color: #1A4266;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: normal;
}
.imgbox{
    width: 400px;
    display: flex;
    justify-content: space-between;
}

.btnwr a:hover{
    background-color: #1a4266;
    color: white;
}
.logoutbox{
    margin-left: 23px;
    margin-bottom: 23px;
    margin-top: 110px;
    color: #1A4266;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
}
.logoutbox:hover{
    font-weight: 700;
}
.mypage:hover{
    font-weight: 700;
}