body {
    font-family: Arial, sans-serif;
    text-align: center;
}
img {
    width: 185px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1 {
    margin-top: 0%;
    margin-bottom: 20px;
}
.logo-divider {
    width: 1400px;
    border-top: 3px solid #1A4266;
    margin-bottom: 30px;
}
.divider {
    width: 800px;
    border-top: 1px solid #ccc;
    margin: 15px 0;
}
.myPage-container {
    border-radius: 5px;
    max-width: 1000px;
    margin: 15px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.page-option {
    width: 760px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    margin-left: 20px;
    margin-right: 40px;
    padding: 10px;
}
.imf-edit {
    font-size: 20px;
    color: #2756FF;
    font-weight: 600;
    transition: all 0.2s ;
}
.imf-edit:hover {
    color: #ff0000;
}
a{
    text-decoration-line: none;
    color: black;
}
.user-data {
    width: 800px;
    border-top: 1px solid #ddd;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.user-data-item {
    width: 740px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}
.user-data-item span {
    color: #696966;
}
.request-container{
    padding-top: 20px;
}

/* 요청 X ->*/
.empty {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 20px;
}
.empty-message{
    width: 800px;
    margin: 15px;
    font-size: 20px;
}
.help-link{
    width: 320px;
    height: 32px;
    padding: 18px;
    margin-top: 30px;
    border-radius: 15px;
    background-color: #105A9F;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 400;
    transition: all 0.2s ;
}
.help-link:hover {
    background-color: #000000;
}
/* 요청 O -> */
.request-message {
    width: 770px;
    margin-bottom: 15px;
    text-align: left;
    font-size: 17px;
}
.full {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 20px;
}
.request-S {
    width: 620px;
    height: 65px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 17px;
}
.request {
    width: 600px;
    margin: 10px;
    background-color: #DBEBFA;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    font-size: 17px;
}
.request-imf-S {
    padding: 5px;
    display: flex;
    justify-content: flex-start;
}
.request-imf {
    padding: 5px;
    display: flex;
    justify-content: flex-start;
}
.request-imf span {
    color: #696966;
}
.R-imf {
    height: 20px;
    width: 300px;
    text-align: left;
    margin-bottom: 10px;
}
.R2-imf {
    height: 20px;
    text-align: left;
    margin-bottom: 10px;
}
.F5-link {
    width: 320px;
    height: 32px;
    padding: 18px;
    margin-top: 30px;
    border-radius: 15px;
    background-color: #105A9F;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 400;
    transition: all 0.2s ;
}
.F5-link:hover {
    background-color: #000000;
}
.request-container-S {
    width: 778px;
    display: flex;
    flex-wrap: wrap;
    background-color: #DBEBFA;
    border-radius: 15px;
}
.btn-S {
    height: 25px;
    padding: 15px;
    margin: 5px;
    border-radius: 15px;
    background-color: #105A9F;
    color: #FFFFFF;
    font-size: 17px;
    font-weight: 400;
    transition: all 0.2s ;
}
.btn-S:hover {
    background-color: #000000;
}
/* 도우미 수락 완료 후 */
.helper-imf {
    width: 777px;
    height: 60px;
    margin: 10px;
    padding: 8px;
    padding-left: 10px;
    background-color: #DBEBFA;
    border-radius: 15px;
    text-align: left;
}
.helper-message {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 10px;
}
.map {
    width: 475px;
    height: 300px;
    margin: 10px;
    border-radius: 15px;
}
.cancel-btn {
    padding: 5px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border-radius: 15px;
    background-color: #2d6fac;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 400;
    transition: all 0.2s ;
}
.cancel-btn:hover {
    background-color: #000000;
}

/* 탈퇴 */
.witdrawal-btn {
    border: none;
    color: black;
    font-size: 20px;
    font-weight: 600;
    transition: all 0.2s ;
}
.witdrawal-btn:hover {
    color: #ff0000;
}