<!DOCTYPE html>
<html lang="en">
  {% load static %} {% block content %}
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="{% static 'jun/css/sucessAccept.css' %}" rel="stylesheet" />
    <link href="{% static 'jun/css/sucessAccept.css' %}" rel="stylesheet" />
    <link href="/static/jun/css/sucessAccept.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap"
      rel="stylesheet"
    />
    <title>수락 성공 페이지</title>
  </head>
  <body class="bodycon">
    <div class="uibar" style="height: 120px">
      <a href="{% url 'user:main_site' %}"><img class="logo" src="{% static 'leesm/img/Ditto.png' %}" alt="Logo"></a>
      <div class="mypagebox">
        <img
          src="{% static 'leesm/img/Ellipse.png' %}"
          alt="sdf"
          class="im"
        />
        <div class="mypage">
          <a
            style="text-decoration: none; color: black"
            href="{% url 'user:mypage' %}"
          >
            <span class="span_font">마이페이지</span></a
          >
        </div>
      </div>
    </div>
    <form action="">
      <div class="mainbox" style="margin: 0; height: auto">
        <div class="textBox1" style="margin-top: 100px">
          <span class="span_font">요청이 성공적으로 완료 되었습니다.</span>
        </div>
        <div class="textBox2">
          <span class="span_font">도우미를 기다리세요.</span>
        </div>
        <div class="successImgBox">
          <!-- <img
            src="/static/jun/img/성공사진.jpg"
            alt="sdf"
            class="class"
            ="im-success"
          /> -->
          <img
            src="{% static 'jun/img/성공사진.jpg' %}"
            alt="sdf"
            class="class"
            ="im-success"
          />
        </div>
        <div class="twoBtnBox">
          <a style="text-decoration: none" href="{% url 'user:mypage' %}">
            <span class="span_font">마이페이지로 이동</span></a
          >
          <a style="text-decoration: none" href="{% url 'user:helper_main' %}">
            <span class="span_font">메인화면 가기</span></a
          >
        </div>
      </div>
    </form>
  </body>

  {% endblock %}
</html>
