<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" action="{% url 'user:edit_member' %}">
    {% csrf_token %}
  <label for="name">이름을 입력하세요</label>
            <input type="text" id="name" name="name" required
            value="{{ form.name.value|default_if_none:'' }}">

            <label for="phone_num">전화번호를 입력하세요</label>
            <input type="tel" id="phone_num" name="phone_num" pattern="[0-9]{3}[0-9]{3,4}[0-9]{4}" placeholder="000-0000-0000(숫자만 입력해주세요)" required
            value="{{ form.phone_num.value|default_if_none:'' }}">


  <button class="primaryAction" type="submit">수정</button>
</form>
</body>
</html>