<!DOCTYPE html>
<html lang="en">
{% load static %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>S_login_imfs Page</title>
    <link rel="stylesheet" href="{% static 'habin/css/S_login_imf.css' %}">
</head>
<body>
    <div class="S_login_imf-container">
        <h1><img class="logo" src="{% static 'leesm/img/Ditto.png' %}" alt="Logo"></h1>
        <div class="divider"></div>
        <form class="S_login_imf" method="post" action="{% url 'account:name_check' %}">
            {% csrf_token %}
            <label for="name">이름을 입력하세요</label>
            <input type="text" id="name" name="name" required
            value="{{ form.name.value|default_if_none:'' }}">
            <label for="phone_num">전화번호를 입력하세요</label>
            <input type="tel" id="phone_num" name="phone_num" pattern="[0-9]{3}[0-9]{3,4}[0-9]{4}" placeholder="000-0000-0000(숫자만 입력해주세요)" required
            value="{{ form.phone_num.value|default_if_none:'' }}">

            <div class="helper-checkbox" style="display: flex">
                <label for="helper_check" style="margin-right: 20px">방울 도우미 되기</label>
              <input style="scale: 1.5" type="checkbox" name="helper_check" value='false' id="helper_check"/>
            </div>
            <input type="submit" value="회원정보 저장하기">
        </form>
    </div>
</body>
<script>
  const checkbox = document.getElementById('helper_check');

    checkbox.addEventListener('change', function() {
      if (checkbox.checked) {
        checkbox.value = true;
      } else {
        checkbox.value = false;
      }
    });

</script>
</html>
{% endblock %}