<!DOCTYPE html>
<html lang="en">
{% load static %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% if edit_set %}
<form method="post" action="{% url 'user:edit_post' %}">
    {% else %}
<form method="post" action="{% url 'user:post_make' %}">
    {% endif %}
    {% csrf_token %}
  <label for="date_time">시간</label>
            <input type="datetime-local" id="date_time" name="date_time" required
            value="{{ form.date_time.value|default_if_none:'' }}">

            <label for="address">주소</label>
            <input type="text" id="address" name="address" required
            value="{{ form.address.value|default_if_none:'' }}">

  <label for="content">내용</label>
            <input type="text" id="content" name="content" required
            value="{{ form.content.value|default_if_none:'' }}">



  <button class="primaryAction" type="submit">저장</button>
</form>
</body>
{% endblock %}
</html>