* {
  box-sizing: border-box;
}
.bodycon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.con {
  display: flex;
  justify-content: center;
  align-items: center;
}

.uibar {
  width: 1400px;
  height: 160px;
  border-bottom: 3px solid #1a4266;
  display: flex;
}

.logo {
  width: 185px;
  height: 70px;
  flex-shrink: 0;
  margin-bottom: 23px;
  margin-top: 25px;
  margin-left: 20px;
}

.mypagebox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 7px;
  margin-left: 930px;
}

.mypagebox image {
  width: 55px;
  height: 55px;
}
.mypage {
  color: #1a4266;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  margin-left: 8px;
}
.mypage:hover {
  font-weight: 700;
}
.logoutbox button{
  color: #1A4266;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  justify-content: center;
  align-items: center;
  margin-left: 23px;
}
.logoutbox button:hover {
  font-weight: 700;
}

#sections {
  display: flex;
}
section {
  display: flex;
}

section > ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  overflow: scroll;
  height: 1318px;
  margin: 0px;
}

section > ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 558px;
  height: 161px;
  flex-shrink: 0;
  border-bottom: 1px solid #1a4266;
}

section a {
  height: 100%;
  display: flex;
  flex-direction: column;
  border: none;
  color: #1a4266;
  font-family: Arial;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  justify-content: space-evenly;
  text-align: center;
}
section > ul li:hover {
  background-color: #1A4266;
}
section > ul li:hover a{
  background-color: #1A4266;
  color: white;
}
.dittoComputer {
  position: absolute;
  z-index: -1;
}
.right {
  display: flex;
  flex-direction: column;
  width: 876px;
  height: 1317px;
  margin-left: 9px;
  border-left: 1px solid #1a4266;
  align-items: center;
}
.rightBox {
  position: absolute;
  z-index: 1;
  display: none;
  flex-direction: column;
  padding: 15px;
  margin-top: 100px;
  margin-left: 64px;
  border-radius: 10px;
  overflow: hidden;
}

.contentbox {

  word-break: break-word; //단어가 짤리지 않음
  overflow-y: auto; //내부요소가 지정한 세로 값보다 클 경우 스크롤 생성
  max-height: 200px;
  padding: 30px;
  width: 691px;
  height: 185px;
  font-family: Arial;
  font-size: 32px;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 24px;
  
}
.mapAndContent {
  display: flex;
  flex-direction: column;
  width: 691px;
  height: 658px;
}
#map {
  width: 691px;
  height: 365px;
  flex-shrink: 0;
  border-radius: 30px 30px 0px 0px;
  border-top: 0.5px solid #1a4266;
  border-right: 0.5px solid #1a4266;
  border-left: 0.5px solid #1a4266;
}
.mapContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 0px 0px 20px 20px;
  border: 0.5px solid #1a4266;
  background: #dbebfa;
  width: 691px;
  height: 119px;
  flex-shrink: 0;
}
.nanTime,
.nanLocation {
  width: 645px;
  color: #1a4266;
  font-family: Arial;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  margin-left: 22px;
}
.nanTime {
  margin-bottom: 8px;
}
.nanTime-right,
.nanLocation-right {
  width: 645px;
  color: #1a4266;
  font-family: Arial;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  margin-left: 22px;
}
.nanTime-right {
  margin-bottom: 8px;
}

.helpBtn-Box {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: end;
}
.leftBtn {
  color: #1a4266;
  font-size: 24px;
  font-weight: 400;
  line-height: normal;
  border-radius: 20px;
  border: 1px solid #1a4266;
  display: inline-flex;
  width: 302px;
  height: 83px;
  padding: 18px 68px 17px 68px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-right: 15px;
}
.leftBtn:hover {
  border: 1px solid #1a4266;
  background-color: #1A4266;
  color: white;
}
.rightBtn {
  color: #1a4266;
  font-size: 24px;
  font-weight: 400;
  line-height: normal;
  border-radius: 20px;
  border: 1px solid #1a4266;
  display: inline-flex;
  width: 302px;
  height: 83px;
  padding: 18px 68px 17px 68px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.rightBtn:hover {
  border: 1px solid #1a4266;
  background-color: #1A4266;
  color: white;
}

