* {
  box-sizing: border-box;
}
.bodycon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.con {
  display: flex;
  justify-content: center;
  align-items: center;
}

.uibar {
  width: 1200px;
  height: 160px;
  border-bottom: 3px solid #1a4266;
  display: flex;
}

.logo {
  width: 185px;
  height: 70px;
  flex-shrink: 0;
  margin-bottom: 23px;
  margin-top: 25px;
  margin-left: 20px;
}

/* .im {
  width: 55px;
  height: 55px;
  flex-shrink: 0;
} */
.mypagebox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 7px;
  margin-left: 810px;
}
.mypagebox image {
  width: 55px;
  height: 55px;
}
.mypage {
  color: #1a4266;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  margin-left: 8px;
}
.mypage:hover {
  font-weight: 700;
}
.logoutbox {
  color: #1a4266;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  justify-content: center;
  align-items: center;
  margin-left: 23px;
}
.logoutbox:hover {
  font-weight: 700;
}
.mainbox {
  margin-top: 44px;
  width: 800px;
  height: 1000px;
  /* border: 1px black solid; */
  display: flex;
  align-items: center;
  flex-direction: column;
}

.textBox1 {
  /* border: 1px black solid; */
  color: #000;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 40px;
  font-weight: 400;
  line-height: normal;
  line-height: 46px;
  margin-top: 189px;
  margin-bottom: 30px;
}

.textBox2 {
  /* border: 1px black solid; */

  color: #000;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: normal;
  line-height: 28px;
  margin-bottom: 20px;
}

.successImgBox {
  /* border: 1px black solid; */
  width: 180px;
  height: 183px;
  left: 666px;
  top: 453px;
  margin-bottom: 32px;
}
.im-success {
  width: 263px;
  height: 213px;
}

.twoBtnBox {
  /* border: 1px black solid; */
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.twoBtnBox a:hover {
  background-color: #1a4266;
  color: white;
}

.twoBtnBox a {
  display: flex;
  width: 302px;
  height: 83px;
  padding: 18px 30px 17px 30px;
  justify-content: center;
  align-items: center;
  margin: 14px;
  border-radius: 20px;
  border: 1px solid #5d5d5d;
  background-color: white;
  color: #000;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: normal;
}
.twoBtnBox a:hover {
  background: gray;
}
