<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/jun/css/nan.css" />
    <script
      type="text/javascript"
      src="//dapi.kakao.com/v2/maps/sdk.js?appkey=a191483d57140c657a95e287bfc4c5d7&libraries=services,clusterer,drawing"
    ></script>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <title>Document</title>
  </head>
  <body class="bodycon">
    <div class="uibar">
      <div class="logo"></div>
      <div class="tuto">도와드릴까요?</div>

      <div class="mypagebox">
        <img src="/jun/img/Ellipse%203.png" alt="sdf" class="im" />
        <div class="mypage">마이페이지</div>
      </div>
    </div>
    <form action="">
      <div class="mainbox">
        <div class="mapbox">
          <div id="map" class="map">
            <div class="add">
              <input type="text" id="address" placeholder="주소 검색하기" />
              <button type="button" id="searchBtn">
                <img src="/jun/img/돋보기.png" alt="검색" />
              </button>
            </div>
          </div>
          <div class="mapaddress">
            <input
              type="text"
              value=""
              name="inputValue"
              placeholder="oo도 oo시 oo동"
            />
          </div>
        </div>
        <div class="contentbox">
          <label for="content">본문 내용을 입력하세요</label>
          <input type="text" name="content" id="content" />
        </div>
        <div class="datebox">
          <!-- <input id="selectedDate" name="selectedDate" value="" readonly="readonly"> -->
          <label for="content">날짜를 선택하세요</label>
          <input type="date" />
        </div>
        <div class="timebox">
          <label for="content">시간을 선택하세요</label>
          <input type="time" name="" id="" />
        </div>
        <div class="btnbox">
          <button>요청하기</button>
        </div>
      </div>
    </form>
    <script type="text/javascript" src="/js/nan.js"></script>
  </body>
</html>
