{% load i18n %}
{% load account socialaccount %}
{% load static %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
    <link href="{% static 'css/set.css' %}" rel="stylesheet" />
    <link href="{% static 'css/input_style.css' %}" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
</head>
<body>
<div class="container">
<div class="container" style="width: 1000px;">
    <div>
        <div class="container" style="margin-top: 80px">
            <div class="container" style="width: 320px; height: 110px;">
                <h1><a href="{% url 'user:main_site' %}"><img class="logo" src="{% static 'leesm/img/Ditto.png' %}" alt="Logo"></a></h1>
            </div></div>
        <div class="container" style="margin-top: 40px">
        <div style="border: 2px black solid; width: 800px;"><img></div></div>
        <div class="container">
            <div style="width: 700px;">
                </div>
        </div>
        <div class="container" style="margin-top: 40px">
            <span class="span_font" style="font-size: 50px; color: black">🔒︎비밀번호가 변경되었습니다.</span></div>
        <div class="container" style="margin-top: 50px">
         <a class="button secondaryAction" href="{% url 'account_login' %}">
                        <span class="span_font" style="font-size: 20px; color: 3072C1">로그인으로 돌아가기 ></span></a></div>



</div>
</div>
    </div>
</body>

{% endblock %}