{% load i18n %}
{% load account socialaccount %}
{% load static %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
    <link href="{% static 'css/set.css' %}" rel="stylesheet" />
    <link href="{% static 'css/input_style.css' %}" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
</head>
<body>
<div class="container">
<div class="container" style="width: 1000px;">
    <div>
        <div class="container" style="margin-top: 80px">
            <div class="container" style="width: 320px; height: 110px;">
                <img style="object-fit: cover; width: 100%; height: 100%" src="{% static 'leesm/img/Ditto.png' %}" alt="Naver">
            </div></div>
        <div class="container" style="margin-top: 40px">
        <div style="border: 2px black solid; width: 800px;"></div></div>
        {% if user.is_authenticated %}
        <div class="container">
            <span class="span_font" style="font-size: 15px; color: black">{% include "account/snippets/already_logged_in.html" %}</span></div>
        {% endif %}
        <div class="container">
            <div style="width: 700px;">
            <form method="POST" action="{% url 'account_reset_password' %}">
                <div>
  {% csrf_token %}
                    <div class="container">
                        <span class="span_font" style="font-size: 50px; color: black">비밀번호 초기화</span>
                    </div>
                    <div class="container">
    <span style="font-size: 20px; color: red" class="errorlist">
        {{form.errors}}
    </span></div>
                <div class="container">
  <div style="margin-top: 25px; width: 500px">
      <div style="margin-left: 13px">
          <span class="span_font" style="font-size: 20px;">본인 이메일</span></div>
        <input style="width: 500px; height: 60px; border-radius: 25px;font-size: 20px; padding-left: 30px; border: 1px black solid"
                type="email" name="email" id="email" class="email custom-input" placeholder="exemple@exemple.com"
        value="{{ form.email.value|default_if_none:'' }}"/>
      </div></div>

                <div class="container" style="margin-top: 60px">
  <button style="width: 500px; height: 60px; border-radius: 25px; background-color: 0B50A1;font-size: 20px;"
          class="primaryAction" type="submit"><span class="span_font" style="font-size: 30px; color: white">비밀번호 초기화</span></button></div>
                </div>
</form>
                </div>
        </div>


</div>
    </div>
    </div>
<script  type="text/javascript" src="{% static '/js/test.js' %}"></script>
</body>

{% endblock %}